<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Green Props Login</title>
        <link rel="stylesheet" href="style.css">
    <style>

        .Overview{
            border: 3px solid black;
            background-color: lightgreen;
            width: 200px;
        }
        .Login{
            border: 3px solid black;
            background-color: lightgreen;
        }
    </style>
    </head>
    <body text="Black">
    <body>
        <form>
            <div align="center"class ="Login">
            <h1 align="center">LOGIN</h1>
            <form method="post">
                <div class="txt_field">
                    <form action="logincredentials.html" method="GET">
                        <div>
                            <label for="Username">Username</label>
                            <input Username="Username" id="Username">
                </div>
            </form>
        </div>
        <div class="txt_field">
            <form action="logincredentials.html" method="GET">
                <div>
                    <label for="Password">Password</label>
                    <input type="Password" id="Password">
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
            New Users <a href="register">Signup Here</a>
        </div>
        <div class="Overview">
        <h2 align="center">Overview</h2>
        <h3 align="center"><li><a href="overview.html">Our Purpose</a></li></h3>
        <h4 align="center"><li><a href="FAQ.html">FAQ </a></li></h4>
        </div>
    </form>
    </body>

</html>