<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class = "signup-box">
            <h1>Sign Up</h1>
            <form action="/register" method="POST">
                <label>First Name</label>
                <input type="text" name="fname" type="text">
                <label>Last Name</label>
                <input type="text" name="lname" type="text">
                <label>Email</label>
                <input type="email" name="email" type="email">
                <label>Password</label>
                <input name="password" type="password">
                <label>Confirm Password</label>
                <input type="password" name="passwordconfirmation">
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    Signup
                </button>
            </form>
            <p>By clicking the sign up button, you agree to our <br>
                <a href="#">Terms and Conditions</a> and <a href="#"> Policy and Privacy</a></p>

                <p class="para-2"> Already have an account? <a href="/login"> Login here</a></p>
            </div>
   
    </body>
</html>